<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" class="header-tabs"><mat-icon>cloud_download</mat-icon></div>
    <mat-card-title class="header-tabs">Download from Datalake</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center" [ngStyle]="{ 'color': '#ffa31a' }">
          <mat-tab label="Download"><app-dowcon/></mat-tab>
        </mat-tab-group>        
  </mat-card-content>
</mat-card>
