<!-- 
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile> -->
            <div class="outer-div">
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Text......</mat-label>
                    <textarea matInput class="input-field" maxlength="200" [(ngModel)]="textInput"></textarea>
                    <mat-hint align="end" class="example-hint"> / 200</mat-hint>
                     </mat-form-field>
            </div>
            
        <!-- </mat-grid-tile>
        <mat-grid-tile> -->
            <div style="background-color: white; text-align: center; margin: 0 auto;">
                <label for="keyEncrypt"> keyEncrypt??</label><input
                id="keyEncrypt"
                type="checkbox"
                (change)="keyEncrypt = !keyEncrypt"/>
                <br>
                <!-- <label for="encryptFile">encryptFile??</label>
                <input
                id="encryptFile"
                type="checkbox"
                (change)="encryptFile = !encryptFile"/> -->
            </div>
            <div class="button-container">
                <button mat-flat-button color="primary" (click)="onSubmit()">SEND</button>
            </div>


            <div class="displayer">
                <div class="divider">
                    <mat-divider></mat-divider>
               </div>
   
               <!-- <div class="text-display">
                   Sharable ID - {{id}}
               </div>
    -->
    <mat-form-field class="example-full-width">
        <mat-label>Copy ID </mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">{{id}}</textarea>
      </mat-form-field>
            </div>
            
        
        <!-- </mat-grid-tile>
      </mat-grid-list> -->
