<!-- 
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile> -->
            <div class="outer-div">
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Hash ID</mat-label>
                    <input matInput [(ngModel)]="inputText">
                  </mat-form-field>
            </div>
            
        <!-- </mat-grid-tile>
        <mat-grid-tile> -->
            <div class="button-container">
                <button mat-flat-button color="primary" (click)="sendRequest()">SEND</button>
            </div>

            <!-- <div *ngIf="fileExists">
                <button mat-flat-button (click)="downloadFile()">Download File</button>
              </div>
              <div *ngIf="!fileExists">
                File not found.
              </div> -->
        
        <!-- </mat-grid-tile>
      </mat-grid-list> -->
