<!-- 
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile> -->
            <div class="outer-div">
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Hash ID</mat-label>
                    <input matInput [(ngModel)]="inputText">
                  </mat-form-field>
            </div>
            
        <!-- </mat-grid-tile>
        <mat-grid-tile> -->
          <div style="background-color: white; text-align: center; margin: 0 auto;">
            <label for="keyEncrypt"> keyDecrypt??</label><input
            id="keyEncrypt"
            type="checkbox"
            (change)="keyEncrypt = !keyEncrypt"/>
            <br>
            <!-- <label for="encryptFile">decryptFile??</label>
            <input
            id="encryptFile"
            type="checkbox"
            (change)="encryptFile = !encryptFile"/> -->
          </div>
            <div class="button-container">
                <button mat-flat-button color="primary" (click)="sendRequest()">SEND</button>
            </div>

            <!-- <div *ngIf="fileExists">
                <button mat-flat-button (click)="downloadFile()">Download File</button>
              </div>
              <div *ngIf="!fileExists">
                File not found.
              </div> -->
        
        <!-- </mat-grid-tile>
      </mat-grid-list> -->
