    <script>console.log("nav bar");
    alert("getting to console");</script>
<p>
    <mat-toolbar class="nav-bar-tab">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="nav-bar-icon">menu</mat-icon>
      </button>
      <span color="accent" class="logo">
          <img src="assets/data_fjord.png" />
      </span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
        <mat-icon color="accent">exit_to_app</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon color="accent">share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  