/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif, "Helvetica Neue", sans-serif; background-color: #1b1b1b; }
/* Replace <custom-color> with your desired color */
/* .mat-primary, .mat-accent {
    background: #ffa31a !important;
    color: white !important;
  }
  
  .mat-primary .mat-tab-label {
    color: white !important;
  }
  
  .mat-tab-group.mat-primary .mat-tab-header {
    
    color: #ffa31a;
  } */

  